version: '3.3'

services:

  db:
    container_name: db
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=r00t
     volumes:
      - ./db/mysql-datadir:/var/lib/mysql

    ports:
      - "3306:3306"

  web: 
   container_name: web
   image: web:latest

